body{
  background-color: rgb(244, 246, 249);
}
.btn1 {
  background-color: rgb(48, 206, 10);
 color: white;
}

.btn2 {
  background-color: rgb(254, 30, 70);
  color: white;

}
.navbar{
background-color: white !important; 
}


.currency-item:hover {
  background-color: #0078f0;
  cursor: pointer;
}
.dark{
  background-color: #1d2424a9 !important;
  color: #fff ; 
}
.light{
  background-color: white !important;
}
.history-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  gap: 1rem;
}

.history-grid {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.history-item {
  width: 100%;
}
